.logo{
  img{
    height:90px;
  }
}

.memberWrapper, .sponsorWrapper{
  background:#f1eff0;
  padding:12px 8px;
  border:1px solid #DDD;
}

.memberWrapper ul{
  margin-bottom:0;
  li{
    min-height:55px;

    a{
      background:transparent url(../images/members-logo.jpg) no-repeat 0 0;
      display: inline-block;
      min-width:64px;
      min-height:71px;

      &.esma{background-position: -411px 0; min-width:80px;}
      &.moic{background-position: -344px 0;}
      &.saso{background-position: -275px 0;}
      &.mocioman{background-position: -210px 0;}
      &.pai{background-position: -147px 0; min-width: 55px;}
      &.ysmo{background-position: -62px 0; min-width: 86px;}
      &.moe{background-position: 0 0;}

    }
  }
}


.sponsorWrapper ul{
  margin-bottom:0;
  li{
    min-height:55px;

    a{
      background:transparent url(../images/sponsors-logo.jpg) no-repeat 0 0;
      display: inline-block;
      min-width:75px;
      min-height:71px;

      &.qms{background-position: -300px 0;}
      &.gplc{background-position: -228px 0; min-width: 65px;}
      &.gmsc{background-position: -114px 0; min-width:110px;}
      &.gulfmat{background-position: 0px 0; min-width: 108px;}

    }
  }
}



html[lang='ar']{
  body{
    font-family: @base_font;
    font-size: @base_font_size;
    color:@base_font_color;
  }
}