<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#">
                <img src="images/gso_logo.gif" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" title="حول الهيئة">حول الهيئة</a></li>
                <li><a href="#about" title="اﻷنشطة">اﻷنشطة</a></li>
                <li><a href="#contact" title="الخدمات">الخدمات</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">الإعلام <span class="caret"></span></a>
                    <ul class="dropdown-menu animated flipInY">
                        <li class="dropdown-header">التواصل الإعلامي</li>
                        <li><a href="#">اﻷخبار</a></li>
                        <li><a href="#">الصحافة</a></li>
                        <li><a href="#">مجلة التقييس الخليجي</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">المواد التوعوية</li>
                        <li><a href="#" title="المواد التوعوية">المواد التوعوية</a></li>
                        <li><a href="#" title="أفلام توعوية">أفلام توعوية</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>