<!-- @if devBuild -->
<!-- @endif -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="js/main.js"></script>