/*over writing bootstrap general rules*/
.navbar-brand{
  padding:0;
}

.navbar-default .navbar-nav>li>a{
  color:@base_font_color;
  font-size:18px;
}

html[lang='ar']{

  /*over writing bootstrap for arabic*/
  /*navigation*/

  .navbar-brand{
    float:right;
  }

  .navbar-toggle{
    float:left;
    margin-right:0;
    margin-left:15px;
    margin-top:30px;
  }

  .navbar{
    margin-bottom:0;
    min-height:92px;
  }
  .navbar-header{
  }

  .navbar-nav{
    @media (min-width: 768px) {
      float:left;
      &>li{
        &>a{
          padding-top:35px;
          padding-bottom:35px;
        }
        &>.dropdown-menu{
          text-align: right;
          right:auto;
          left:0;
        }
      }
    }
  }
}