#homeNewsList{
  margin-bottom:15px;

  .newsHead{
    background:#EEE;
    padding:5px 0;
    border-bottom:2px solid @base_font_color;
    margin-bottom:15px;

    /*elements*/
    h2{
      margin:0;
    }

  }

  .newsList{
    border-bottom:1px solid #EEE;

    &:last-child{
      border-bottom:none;
    }

    a{
      position: relative;
      display:block;
      padding:6px 0 6px 35px;

      &:hover{
        background:#f9f9f9;
        text-decoration: none;
      }

      span{
        display:block;
      }

      i.arrow{
        position: absolute;
        left:5px;
        top:15px;
      }

    }

    /*elements*/
    p{
      margin:0;
    }

    /*classes*/
    .date{
      color:#AAA;
      font-size:12px;
    }

  }
}
